doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet", href="/css/style.css")
  title Home
main
  section
    h1 Products / Providers - API
    h2
      | Endpoints para 
      i products
    p
      | [GET] 
      |  Retorna un objeto con los datos de todos los productos: 
      a(href='https://api-mongoose.onrender.com/api/products') https://api-mongoose.onrender.com/api/products
    p [POST] Para crear un nuevo producto: https://api-mongoose.onrender.com/api/products
    h2
      | Endpoints para 
      i providers
    p
      | [GET] 
      |  Retorna un objeto con los datos de todos los providers: 
      a(href='https://api-mongoose.onrender.com/api/providers') https://api-mongoose.onrender.com/api/providers
    p [POST] Crea un nuevo proveedor: https://api-mongoose.onrender.com/api/providers

