<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <h1>Products / Providers - API</h1>
            <h2>Endpoints para <i>products</i></h2>
            <p>[GET] <a href=""><strong>http://localhost:3000/api/products</strong></a> Retorna un objeto con los datos de todos los productos.</p>
            <p>[POST] http://localhost:3000/api/products Para crear un nuevo producto</p>
            <h2>Endpoints para <i>providers</i></h2>
            <p>[GET] <a href="">http://localhost:3000/api/providers</a> Retorna un objeto con los datos de todos los providers.</p>
            <p>[POST] http://localhost:3000/api/providers Crea un nuevo proveedor</p>
        </section>
    </main>
</body>
</html>